h1,
p {
  font-family: Lato;
}

.border {
  border: 1px solid black;
}

.greenBack {
  background-color: lightgreen;
}

.blueBack {
  background-color: lightblue;
}

.coralBack {
  background-color: lightcoral;
}
